<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Arguments -->
  <arg name="initial_ts_state_from_agent" default="False"/>
<!--   <arg name="num_mobile" default=1/> -->
<!--   <arg name="num_quadruped" default=1/> -->

  <arg name="agent_name_mobile_1" default="openshelf_1"/>
  <arg name="agent_name_mobile_2" default="openshelf_2"/>
  <arg name="agent_name_dog_1" default="a1"/>
  <arg name="rviz" default="true"/>

<!--   <param name="agent_name" type="string" value="$(arg agent_name)" /> -->
  <!-- hard and soft task parameters -->
  <rosparam command="load" file="$(find ltl_automaton_planner)/config/example_ltl_formula.yaml" />

  <!-- Transition system for mobile robot-->
  <param name="transition_system_mobile_textfile" type="str" textfile="$(find ltl_automaton_planner)/config/example_ts.yaml" />

  <!-- Transition system for quadruped-->
  <param name="transition_system_quadruped_textfile" type="str" textfile="$(find ltl_automaton_planner)/config/example_ts_dog.yaml" />

  <!-- Run planner node -->
<!--  <node name="ltl_planner" pkg="ltl_automaton_planner" type="planner_node.py" output="screen">--> -->
<!--    <param name="initial_ts_state_from_agent" type="bool" value="$(arg initial_ts_state_from_agent)" />--> -->
<!--  </node>--> -->

  <!-- Run the gazebo world-->
  <include file="$(find unitree_bringup)/launch/gazebo.launch" >
    <arg name="world_name" value="mrdc"/>
    <arg name="world_format" value="model"/>
  </include>

  <include file="$(find unitree_bringup)/launch/spawn_one_a1.launch">
    <arg name="robot_name" value="a1" />
    <arg name="pose_x" value="0.0" />
    <arg name="pose_y" value="0" />
  </include>

  <include file="$(find bringup_sim)/launch/spawn_one_openshelf7.launch">
    <arg name="robot_name" value="openshelf_0" />
    <arg name="pose_x" value="1.0" />
    <arg name="pose_y" value="0" />
  </include>

<!--  <include file="$(find bringup_sim)/launch/spawn_one_openshelf7.launch"> -->
<!--    <arg name="robot_name" value="openshelf_1" /> -->
<!--    <arg name="pose_x" value="2.0" /> -->
<!--    <arg name="pose_y" value="0" /> -->
<!--  </include> -->

  <!-- Run A1 navigation and simulated mocap -->
  <include file="$(find unitree_navigate)/launch/navigate_mocap.launch">
    <arg name="agent_name" value="a1_gazebo"/>
    <arg name="run_mocap" value="true"/>
  </include>

  <include file="$(find openshelf7_navigation)/launch/navigate_mocap.launch">
    <arg name="agent_name" value="openshelf_0" />
    <arg name="run_mocap" value="false"/>
    <arg name="launch_map" value="false"/>
  </include>

  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
        args="-d $(find unitree_navigate)/rviz/multi_robot_mocap.rviz -f map"
        output="screen"/>


</launch>
