[submodule "ltl_planning_core"]
	path = ltl_planning_core
	url = https://github.com/zzhou387/ltl_planning_core
[submodule "ltl_automation_a1"]
	path = ltl_automation_a1
	url = https://github.com/zzhou387/ltl_automation_a1
[submodule "Groot"]
	path = Groot
	url = https://github.com/BehaviorTree/Groot
[submodule "ros_ltl2ba"]
	path = ros_ltl2ba
	url = https://github.com/KTH-DHSG/ros_ltl2ba