<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Arguments -->
  <arg name="agent_name" default="wassi_0"/>
  <arg name="plan_name" default="/action_plan_3"/>
  <arg name="pose_x" default="7.0" />
  <arg name="pose_y" default="6.0" />
  <arg name="init_yaw" default="3.14" />

  <!-- Load parameters -->
  <!-- Agent name -->
  <param name="agent_name_$(arg agent_name)" type="string" value="$(arg agent_name)" />


  <include file="$(find bringup_sim)/launch/spawn_one_wassi7.launch">
    <arg name="robot_name" value="$(arg agent_name)" />
    <arg name="pose_x" value="$(arg pose_x)" />
    <arg name="pose_y" value="$(arg pose_y)" />
    <arg name="init_yaw" value="$(arg init_yaw)" />
  </include>

  <!-- Run mobile robot LTL node with the 2D pose region monitor-->
  <node name="$(arg agent_name)_region_2d_pose_monitor" pkg="ltl_automaton_std_transition_systems" type="region_2d_pose_monitor.py" output="screen" >
    <remap from="transition_system_textfile" to="transition_system_mobile_2_textfile" />
    <remap from="agent_2d_region_pose" to="qualisys/$(arg agent_name)/pose" />
    <remap from="current_region" to="$(arg agent_name)/current_region" />
  </node>

  <!-- Run Openshelf navigation -->
  <include file="$(find wassi7_navigation)/launch/navigate_mocap.launch">
    <arg name="agent_name" value="$(arg agent_name)" />
    <arg name="world_name" value="hospital_map"/>
    <arg name="run_mocap" value="false"/>
    <arg name="launch_map" value="false"/>
  </include>

  <!-- Run BT node -->
  <node name="ltl_bt_interface_wassi" pkg="ltl_automation_a1" type="ltl_bt_interface_wassi" required="true" output="screen">
    <remap from="transition_system_textfile" to="transition_system_mobile_2_textfile" />
    <remap from="/move_base" to="/$(arg agent_name)/move_base" />
    <remap from="current_region" to="$(arg agent_name)/current_region" />
    <remap from="/action_plan" to="$(arg plan_name)" />
    <remap from="ltl_trace" to="/$(arg agent_name)/ltl_trace"/>
    <remap from="synchronization_service" to="/$(arg agent_name)/synchronization_service"/>
    <remap from="replanning_request" to="/$(arg agent_name)/replanning_request"/>
    <remap from="training_disturbance" to="/$(arg agent_name)/training_disturbance"/>
    <remap from="fake_input" to="/$(arg agent_name)/fake_input"/>
  </node>

</launch>
