#folder
target
out
obj
armeabi
logFiles

#files
*.workspace*
*.user
.cproject
.project
*.config
*.creator
*.creator.user
*.files
*.includes
.ycm_extra_conf.*
navInterfaceProfile.yaml

# Prerequisites
*.d
*~
# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.la
*.lo
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so.*
*.so
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.udb
.catkin_tools
.catkin_workspace
build
devel
install
src-build
CMakeLists.txt.user
build-src-desk-Default
.vscode
ros_ws.tar.gz
.settings
Bin
Packaging
*notes
